:root {
  /* LIGHT THEME */
  --bg: #e9e6ea;
  --card-bg: #f7f6fa;
  --text: #2f2f2c;
  --subtext: #6b6e76;
  --primary: #232042;
  --secondary: #eda0ff;
  --accent: #5a4fff;
  --accent10: #473cdba8;

  --border: #8d85ff;
}

[data-theme="dark"] {
  /* DARK THEME */
  --bg: #1c1d1e;
  --card-bg: #242426;
  --text: #e9e6ea;
  --subtext: #6b6e76;
  --primary: #232042;
  --accent: #473cdb;
  --accent10: #473cdba8;
  --border: #8d85ff;
}

#root {
  /* max-width: 1280px; */
  /* margin: 0; */
  padding: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition:
    background 0.3s ease,
    color 0.3s ease;

  margin: 0;
  background: var(--bg);
}

.theme-btn {
  height: 42px;
  background-color: transparent;
  border: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 24px; */
  /* background-color: #b38686; */
  /* width: 100%; */
}

/* TODO HEADER */

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-date-day-wrapper {
  padding: 8px;
}

.header-date {
  color: var(--subtext);
  font-weight: 200;
}

.header-day {
  color: var(--text);
  font-size: 22px;
  font-weight: 400;
}

.header-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-stats {
  position: absolute;
  display: block;
  font-size: 22px;
  color: var(--text);
}

@media (min-width: 768px) {
  #root {
    padding: 1rem;
  }

  .container {
    width: 100%;
    padding: 16px;
    gap: 8px;
  }

  .header-day {
    font-size: 22px;
    font-weight: 400;
  }

  .progress-stats {
    font-size: 24px;
  }
}

/* @media (min-width: 480px) {
  .container {
    padding: 12px;
    gap: 0px;
  }
  .header-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: -16px;
  }

  .header-date-day-wrapper {
    padding: 6px 0;
  }

  .header-day {
    font-size: 18px;
    margin-top: -4px;
  }

  .header-date {
    font-size: 14px;
  }

  .progress-stats {
    font-size: 16px;
  }
} */

/* TODO INPUT  */

.input-container {
  min-height: 52px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding: 8px;
}

.input {
  flex: 1;
  padding: 14px;
  border-radius: 12px;
  border: 2px solid var(--border);
  /* margin: 0 12px; */
  color: var(--text);
  background-color: var(--bg);
}

.add-button {
  width: 52px;
  height: 52px;
  border-radius: 12px;
  border-style: none;
  background-color: var(--accent);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  background-color: var(--accent10);
}

@media (min-width: 768px) {
  .input-container {
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    gap: 12px;
  }

  .input {
    /* width: 50%; */
    /* height: 32px; */
    padding: 12px;
  }

  .add-button {
    width: 44px;
    height: 44px;
  }
}

/* @media (min-width: 400px) {
  .input-container {
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .input {
    height: 28px;
    width: 100%;
  }

  .add-button {
    width: 100%;
    height: 44px;
  }
} */

/* TODO LIST */

.todo-container {
  width: 100%;
  /* padding: 12px 0; */
  /* border: solid 2px white; */
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px;
}

.todo-title {
  font-size: 32px;
  font-weight: 700;
  flex: 1;
  margin: -4px;
  color: var(--accent);
  /* word-break: break-word; */
}

.todo-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 12px;
}

.todo-button-icon {
  display: flex;

  min-width: 48px;
  min-height: 48px;
  background-color: var(--accent);
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.todo-button-icon:hover {
  background-color: var(--accent10);
}

@media (min-width: 768px) {
  .todo-list {
    padding: 16px 8px;
  }

  .todo-button-wrapper {
    gap: 10px;
  }

  .todo-button-icon {
    width: 44px;
    height: 44px;
  }
}
/* 
@media (min-width: 480px) {
  .todo-list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .todo-title {
    margin-bottom: -4px;
  }

  .todo-button-wrapper {
    width: 100%;
    justify-content: center;
  }
} */

/*  TODO CARD */

.todo-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  height: 52px;
  padding: 12px 24px;
  background-color: var(--card-bg);
  box-shadow: 1px 1px 2px var(--border);
  margin-bottom: 12px;
  transition: all 0.3s ease-in;
}

.todo-card-container:hover {
  background-color: var(--card-bg);
  box-shadow: 1px 0px 2px var(--accent10);
}

.todo-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
  /* border: solid 2px white; */
}
.card-title {
  color: var(--text);
}

.todo-card-input {
  flex: 1;
  width: 85%;
  border-radius: 12px;
  border: none;
  padding: 12px;
  background-color: var(--subtext);
}
.todo-card-input-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  /* align-items: center; */
  margin-right: 12px;
}

.todo-card-icon {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  border-radius: 12px;
  cursor: pointer;
  transition: all ease-out 0.3s;
}

.todo-card-icon:hover {
  background-color: var(--accent10);
}

.todo-icon-wrapper {
  display: flex;
  gap: 12px;
  /* border: solid 2px white; */
}

.todo-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .todo-card-container {
    padding: 10px 14px;
    height: auto;
  }

  .todo-card {
    gap: 10px;
  }

  .todo-card-input {
    width: 100%;
    padding: 10px;
  }

  .todo-card-icon {
    height: 36px;
    width: 36px;
  }

  .todo-icon-wrapper {
    gap: 8px;
  }
}

@media (min-width: 480px) {
  .todo-card-container {
    padding: 8px 16px;
  }
  .todo-card {
    height: 48px;
  }

  .todo-icon-wrapper {
    width: 100%;
    justify-content: flex-end;
  }
}
